<!-- SPDX-FileCopyrightText: 2006-2025 Peter Jakubčo | SPDX-License-Identifier: GPL-3.0-or-later -->
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/emuStudio.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/emuStudio_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%level][%logger{10}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AUTOMATION" class="ch.qos.logback.core.FileAppender">
        <file>logs/automation.log</file>
        <append>false</append>
        <encoder>
            <pattern>%date [%level][%logger{10}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="automation" level="INFO">
        <appender-ref ref="AUTOMATION"/>
    </logger>

    <root level="INFO">
        <!-- Uncomment if you want to log to a file -->
        <!-- <appender-ref ref="FILE"/> -->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
