root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.bat]
end_of_line = crlf

[*.{java, py, sh, gradle}]
charset = utf-8

[*.{java, py}]
indent_style = space
indent_size = 4

[build.yml]
indent_style = space
indent_size = 2

[build.gradle]
indent_style = space
indent_size = 2
