language: java
sudo: false
jdk:
- oraclejdk8
os:
- linux
branches:
  only:
  - branch-0_39
env:
  global:
  - secure: CBze4MoSq9LKgG0ObeoFL94UICe/lAwBKQZdvUP6fIZLcihSzcsIO6n9+MAc6KesyMJQhUmKh8sIYID2bNyOX5L39KCch+SZ70yHuQN6UGxEER6eAdiTcXCb4K7Cxwq8j/QSPVGwA7I/TqIaUJw/IwhNnFYBRBAi7jEdCpXxekA=
  - secure: kSgfF/XsqM9mfAoi5dS9ANs73mgiCWcChJ5xpF9Mtjp/WGwUVn52l1nQhzNYAYfa0BZp6UGNTvVHfqLB0awv/BIiFc+jf7Cz8N7NfAK0ealzKN+0yg8N88urzwX9efd6S/xit1Gvp/IM2UqqJWEqVIWlvPTZcAJPreP3QBpxDLc=
  - secure: oLauAjLvkgKhboQMN6evL6qtCCZ9/5w/g0u+N0C/1O1g/+vTxlpFtMkawv5T2qOaqRe1aD2P5CkNaHudKgN6AsI5as9t3n33gYOOShZcGC0hXn8gXePIP2UJIUcfSga3UZkBDfxVKL+BvSUSRxVHKQrqbpCYnszDGyQer9DH3Pc=

install: true

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 2

script:
  - mvn -B -U -P coveralls clean cobertura:cobertura coveralls:report

after_success:
  - python add_server.py
  - mvn deploy -Dmaven.test.skip=True

after_script:
  - python restore_backups.py

notifications:
  on_success: change
  on_failure: always
  template:
  - "%{repository} (%{branch}:%{commit} by %{author}): %{message} (%{build_url})"
