<configuration>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>emuStudio.log</file>

    <encoder>
      <pattern>%date [%level][%logger{10}] %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="FILE" />
  </root>
</configuration>
