name = "MITS Altair8800 (Z80)"

[MEMORY]
	schemaPoint = "80,220"
	path = "standard-mem.jar"
	name = "standard-mem"
	id = "1e13a25d-fb23-4061-853a-5fe996b03281"
	type = "MEMORY"

	[MEMORY.settings]
		banksCount = 8
		commonBoundary = 49152

#       memorySize = 65536
# ROM areas are stored as pairs ROMfromN and ROMtoN, where N is 0-based counter. There can be multiple rom areas.
#       ROMfromN = someAddress
#       ROMtoN = someAddress
# Memory "images" (files) will be loaded at startup into memory. They are stored here as triplet:
# - imageNameN (file name),
# - imageAddressN (address where the file will be loaded),
# - imageBankN (if memory has >1 banksCount, then number of bank; 0 otherwise)
#
# where N is a 0-based counter
#       imageNameN = imageFileName  # if the suffix ends with ".hex", the format will be Intel HEX; otherwise it will be binary
#       imageAddressN = ...
#       imageBankN = 0
[COMPILER]
	schemaPoint = "80,60"
	path = "as-z80.jar"
	settings = {}
	name = "as-z80"
	id = "9233e0c2-b53c-41e7-9eca-bbb264fcd9da"
	type = "COMPILER"

[CPU]
	schemaPoint = "220,220"
	path = "z80-cpu.jar"
	settings = {}
	name = "z80-cpu"
	id = "b86d4bc2-632c-46e3-bba1-c088c9177983"
	type = "CPU"

#       halfDuplex = false
#       alwaysOnTop = false
#       inputReadDelay = 0
#       antiAliasing = true
[[DEVICE]]
	schemaPoint = "340,140"
	path = "88-disk.jar"
	name = "88-disk"
	id = "c94d0e9b-f394-4a71-94b0-87d0f970a3fd"
	type = "DEVICE"

	[DEVICE.settings]
		# imageN = "..."  # Load file into drive N at startup
		sectorLength8 = 137
		sectorLength9 = 137
		sectorLength6 = 137
		sectorLength7 = 137
		sectorLength4 = 137
		sectorLength5 = 137
		sectorLength2 = 137
		sectorLength3 = 137
		sectorLength0 = 137
		sectorLength1 = 137
		port2CPU = 9
		sectorsPerTrack15 = 32
		sectorsPerTrack14 = 32
		sectorsPerTrack13 = 32
		sectorsPerTrack12 = 32
		sectorsPerTrack1 = 32
		sectorsPerTrack11 = 32
		sectorsPerTrack2 = 32
		sectorsPerTrack10 = 32
		sectorsPerTrack0 = 32
		sectorsPerTrack5 = 32
		sectorsPerTrack6 = 32
		sectorsPerTrack3 = 32
		sectorsPerTrack4 = 32
		sectorsPerTrack9 = 32
		sectorsPerTrack7 = 32
		sectorsPerTrack8 = 32
		port1CPU = 8
		port3CPU = 10
		sectorLength15 = 137
		sectorLength13 = 137
		sectorLength14 = 137
		sectorLength11 = 137
		sectorLength12 = 137
		sectorLength10 = 137

[[DEVICE]]
	schemaPoint = "340,220"
	path = "88-sio.jar"
	name = "88-sio"
	id = "de2ce2e7-4365-406e-864a-b60f353d3fba"
	type = "DEVICE"

	[DEVICE.settings]
		statusPortNumber1 = 16
		statusPortNumber0 = 3
		statusPortNumber3 = 22
		statusPortNumber2 = 20
		dataPortNumber2 = 21
		dataPortNumber3 = 23
		dataPortNumber0 = 2
		dataPortNumber1 = 17
		dataPortNumber4 = 25
		statusPortNumber4 = 24

[[DEVICE]]
	schemaPoint = "480,220"
	path = "adm3A-terminal.jar"
	name = "adm3A-terminal"
	id = "0352cf74-2965-4723-bef9-3e918b1ac7c5"
	type = "DEVICE"

	[DEVICE.settings]
		outputFileName = "adm3A-terminal.out"
		inputFileName = "adm3A-terminal.in"

[[DEVICE]]
	schemaPoint = "220,60"
	path = "simhPseudo-z80.jar"
	settings = {}
	name = "simhPseudo-z80"
	id = "6c07bc70-db4f-4e7a-86f3-0ba0ce9bebf9"
	type = "DEVICE"

[[connections]]
	bidirectional = true
	from = "9233e0c2-b53c-41e7-9eca-bbb264fcd9da"
	to = "1e13a25d-fb23-4061-853a-5fe996b03281"
	points = []

[[connections]]
	bidirectional = true
	from = "c94d0e9b-f394-4a71-94b0-87d0f970a3fd"
	to = "b86d4bc2-632c-46e3-bba1-c088c9177983"
	points = ["240,140"]

[[connections]]
	bidirectional = true
	from = "1e13a25d-fb23-4061-853a-5fe996b03281"
	to = "b86d4bc2-632c-46e3-bba1-c088c9177983"
	points = []

[[connections]]
	bidirectional = true
	from = "de2ce2e7-4365-406e-864a-b60f353d3fba"
	to = "b86d4bc2-632c-46e3-bba1-c088c9177983"
	points = []

[[connections]]
	bidirectional = true
	from = "6c07bc70-db4f-4e7a-86f3-0ba0ce9bebf9"
	to = "b86d4bc2-632c-46e3-bba1-c088c9177983"
	points = []

[[connections]]
	bidirectional = true
	from = "0352cf74-2965-4723-bef9-3e918b1ac7c5"
	to = "de2ce2e7-4365-406e-864a-b60f353d3fba"
	points = []

[[connections]]
	bidirectional = true
	from = "6c07bc70-db4f-4e7a-86f3-0ba0ce9bebf9"
	to = "1e13a25d-fb23-4061-853a-5fe996b03281"
	points = ["200,140", "120,140"]

